body {
    font-family: Arial,  Helvetica,sans-serif;
    margin: 0;
    padding: 0;
    
    overflow-x: hidden; 
}
.container {
    display: block;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    padding: 20px;
    overflow: hidden; 
}
.main-content {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.sidebar {
    width: 20%;
    background-color:rgb(238, 116, 41);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
nav {
  
  font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav a {
    color: black;
    text-decoration: none;
    margin:20px;
    transition: color 0.3s ease;
}
#logo img:hover{
  background-color: white;
  border: solid white 0px;
 }
#nav1 a:hover {
  background-color:#F14A00 ;
   border-radius: 15px;
   border: solid #F14A00 10px;
}

section {
    padding: 20px;
}
footer {
  background-image: url('fire.jpeg');
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 0px;
    height: 150px;
}
footer a {
    color: white; 
    text-decoration: none;
    transition: color 0.3s ease;
}
footer a:hover {
    color: rgb(252, 203, 17);
}
  .social-icons {
    justify-content: center;
    display: flex;
    gap: 15px;
    font-size: 30px;
}
.social-icons a {
    color: #f7efef;
    text-decoration: none;
}







